<div class="row">
  <div class="span12">
    <h1>Log In</h1>
    <%= form_tag session_path, class: 'form-horizontal' do %>
      <fieldset>
        <legend>Access your account and stuff</legend>
        <div class="control-group">
          <%= label_tag :email, nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :email, params[:email] %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :password, nil, class: 'control-label' %>
          <div class="controls">
            <%= password_field_tag :password %>
          </div>
        </div>
        <div class="form-actions">
          <%= submit_tag "Log In", class: 'btn' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
