<div class="row">
  <div class="span12">
  <h1>Sign Up</h1>

  <%= simple_form_for [:web, @user], html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend>Create an account</legend>
      <%= f.error_notification %>
      <%= f.input :username, autofocus: true, input_html: { value: session[:username] } %>
      <%= f.input :name, input_html: { value: session[:name] } %>
      <%= f.input :email, input_html: { value: session[:email] } %>

      <div class="form-actions">
        <%= f.button :submit, "Sign Up" %>
      </div>
    </fieldset>
  <% end %>
  </div>
</div>
